.bodyLogin {
	color: #43437B;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 80px;
	height: 100%;
	font-family:verdana;
}

.imgLogin{
	margin-bottom: 10px;
}

.formLogin {
	width: 100%;
	max-width: 330px;
	margin: 10px;
}

.formControlLogin{
	position: relative;
	box-sizing: border-box;
	height: auto;
	margin-top: 5px;
	font-size: 16px;
}

.formControlLogin:focus {
	z-index: 2;
}

.labelLogin{
	display: block;
	text-align: left;
	margin-top: 10px;
}

.inputEmailLogin {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.inputPassLogin {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.tagALogin{
	color: #43437B;
}

.forgotPasswordLinkLogin{
	display: block;
	text-align: left;
	margin-bottom: 30px;		
}

.btnLogin:hover{
	background-color: #43437B;
	color: white;
}

.btnLogin{
	color: white;
	background-color: #7492c4;
}

.dont-have-account{
	text-align: left;
	margin-top: 10px;	
	color: dimgrey;		
}


.formSignup {
	width: 50%;
	margin: 20px;
}	

.labelSignUp{
	display: block;
	text-align: left;
	margin-top: 20px;
	color: #43437B;
	font-size: 13px;
	font-weight: bold;
}

.btnSignUp:hover{
	background-color: #43437B;
	color: white;
	margin-top: 20px;
}
	
.btnSignUp{
	color: white;
	background-color: #7492c4;
	margin-top: 20px;
}

.alertSignUp{
	margin-top: 15px;
	font-size: 15px;
}

.formRsPassword {
	width: 100%;
	max-width: 400px;
	margin: 30px;
}

.messageRsPassword{
	display: block;
	text-align: left;
	color: dimgray;
	margin-top: 10px;
}

.fullscreen-spinner {
  	width: 100vw;
  	height: 100vh;
  	position: fixed;
 	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	z-index: 100000;
  	background: #CDD4D3D9;
  	display: flex;
  	justify-content: center;
  	align-items: center;
}

.navHome{
	margin: 5px;
}

.navRightHome li{
	margin-left: 20px;
}
i{
	font-size: 19px;
}
.dropdown-item{
	font-size: 13px;
	font-weight: bold;
}
.dropdown-item:focus, .joinClass, .joinClass:hover{
	background-color: #43437B;
	color: white;
}
.logout:hover{
	color: red;
}
.logout:focus{
	background-color: lightgray;
}
.deleteClass{
	background-color: #43437B;
	color: white;
}
.deleteClass:hover, .deleteClass:focus{
	background-color: red;
	color: white;
}
.deleteClass:not(:disabled):not(.disabled):focus {
	border-color: red;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.075);
}
.linkHome{
	color:white;
}
.linkHome:hover{
	color:white;
}
.cardHome{
	width: 100%;
	margin-top: 5px;
	padding-left: 0px;
	padding-right: 0px;
	background-clip: padding-box;
	border: 10px solid transparent;
}
.cardHeaderHome{
	color: white;
	/*green*/
	background-color: #087043;
}
.cardTitleHome{
	padding-bottom: 4px;
}
.cardBodyHome{
	background-color: lightgrey;
	height: 60px;
}
.joinClassHome{
	width: 90%;
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.findClass{
	background-color: #214996;
	color: white;
}
.findClass:hover{
	background-color: #2e446e;
	color: white;
}
.titleListUser{
	font-family:verdana;
	font-weight: bold;
	margin-top: 20px;
	color: #43437B;
	text-align: center;
}
.spanListUser{
	font-family:verdana;
	font-weight: bold;
	color: #101052;
	font-size: 18px;
}
.navListuser{
	margin: 20px;
}
.searchButton{
	background-color: #214996;
	color: white;
}
.searchButton:hover{
	background-color: #2e446e;
	color: white;
}
table{
	width: 95%;
	margin: 20px auto;
	border-collapse: collapse;
}
th{
	color: white;
	background-color: #087043;
	padding: 10px;
	font-size: 15px;
}
td{
	border: 1px solid lightgrey;
	font-size: 14px;
	padding: 10px;
}
.firstCol{
	width: 5px;
}
.secondCol{
	border-left-style:hidden;
}
.lastCol{
	border-left-style:hidden;
	width: 5px;
}
.dropdownItemUser{
	font-size: 13px;
	font-weight: bold;
}
.dropdownItemUser:focus{
	background-color: #3e946f;
	color: white;
}
.modalItem{
	font-size: 13px;
	font-weight: bold;			
}
.modalItem:focus{
	background-color: lightgrey;
	color: black;
}
.btnPermission, .btnPermission:focus, .btnPermission:hover{
	background-color: #214996;
	color: white;
}
.imgProfile{
	margin-top: 20px;
	margin-bottom: 20px;
}
.labelProfile{
	display: block;
	text-align: left;
	margin-top: 20px;
	color: #43437B;
	font-size: 13px;
	font-weight: bold;
}
.formSigninProfile {
	width: 35%;
	margin: 30px;
}
.btnSaveProfile:hover{
	background-color: #43437B;
	color: white;
	margin-top: 20px;
}

.btnSaveProfile{
	color: white;
	/*blue*/
	background-color: #7492c4;
	margin-top: 20px;
}
.alertProfile{
	margin-top: 15px;
	font-size: 15px;
}
.navClassroom{
	padding: 20px;
	background-color: white; 
}
.navTab{
	z-index: 2;
    float: left;
    width: 100%;
    text-align: center;
}
.stream{
	margin-left: auto;
	font-weight: bold;
}
.people{
	margin-right: auto;
	font-weight: bold;
}
.modelTitle{
	width: 90%;
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
.labelClassroom{
	font-weight: bold;
	color: #43437B;
}
.containerStream{
	margin-top: 70px;	
}

.cardStream{
	padding: 0px;
	margin-top: 20px;
}
.cardHeaderStream{
	color: white;
}
.cardField:hover{
	text-decoration: none;
}
.cardField:active{
	text-decoration: none;
}
.subTitleStream{
	color: black;
	padding: 2px;
	display: block;
}